.content {
    justify-content: center; 
    text-align: center;
    padding-top: 60px;
}

.content h3 {
    width: 300px;
    margin: 10px auto;
    border: double 2px #ffc778;
    padding: 5px;
}

.content p {
    margin: 20px;
}

.title{
    text-align: center;
    color: #364e94;
    padding: 10px;
    border-top: solid 3px #364e94;
    border-bottom: solid 3px #364e94;
}