.links a {
    margin: auto 10px;
}

.links a:hover {
    color: black;
}

.links i {
    margin-top: 20px;
}

.links img {
    width: 70px;
    height: 70px;
}

.links img:hover {
    filter: invert();
}

