/*
.profile_picture {
    background-image: url("../pictures/pic_me.JPG");
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    border: 5px solid blue;
}
*/

.profile_picture {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

@media screen and (max-width: 767px) {
    .profile_picture {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
        margin: 10px;
    }
}

.skills p {
    text-align: center;
}